@use "variables";
@use "mixins";
@use "extends";

.confirmationSection {
   background-color: variables.$fountainblue;
}

.confirmation {
    text-align: center;
    border: 2px solid #262425;
    border-radius: 25px;
    color: variables.$cararra;
    background-color: variables.$bluedianne;
    margin: 350px;
    padding: 50px;

}

.confirmation--btn {
    @extend %button;

}