@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Bubbler+One&display=swap');

// Fonts
$font1: "Bubblegum Sans";
$font2: "Bubbler One";

// Custom colors
$fountainblue: #56A9B9;
$bluedianne: #224155;
$tuliptree: #EEA34B;
$cararra: #F3F4F0;
$bondiblue: #0191B4;

//Background
$background1: url('../../img/menu/backgroundplatter.jpg');
$background2: url('../../img/confirmation/confirmation.jpg');